@bg1:#333;
@bg2:#666;
@bg3:#DDD;
@cl4:navy;

*{
  margin:0; padding:0
}
body{

  padding:20px;
  background:@bg1;
  #gameField{
    background:@bg3;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:67%;
    td{
      margin:2px;
      height:20px;
      width:20px;
      border:2px solid @bg1;
    }

    td.empty{
      background:@cl4;
    }

    td.statek{
      background:yellow;
    }

    td.trafiony{
      background:red;
    }
    .team{
      padding:20px;
      display:inline-block;
      height:50%;
      width:50%;
    }
    .map{
      border: 2px solid @cl4;

    }
    .team:not(.myTeam){
      td:hover{
        background:red;
      }
    }
    .myMap{ 
      td:hover{
        background:@cl4;
        border:1px solid red;
      }

    }
  }
  #wrap{
    position: absolute;
    margin: auto;
    background:@bg2;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;

    #uiWrap{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      width:33%;

      #warn{
        position:absolute;
        overflow:scroll;
        right:0;
        bottom:0;
        width:100%;
        height:20%;
        background:yellow;
      }
      ul{
        list-style-type: none;
      }
      #userList, #roomList, #gameMenu{
        border-left:2px @bg1 solid;
        width:33%;
        background:@bg3;
        height:80%;
        float:left;
        &>*{
          padding:10px;
        }
      }
      #roomList li:hover{
        color:blue;
      }
    }
  }
}

#team1{
  position: absolute;
}

