doctype html
html
  head
    title= title
    link(href='/css/s.css' rel='stylesheet')
    script(src="/socket.io/socket.io.js")
    script(src="jquery.min.js")
    script(src='/js/s.js')
    script(src='/js/game-socket.js')
  body
    #wrap 
      block content
