extends game-layout

block content
  #gameField
  #uiWrap
    #gameMenu
      #roomName
      input#joinGame(type='button' value='join')
    #roomList
      h3 Room List:
      input#newRoom(type='button' value='new room')
      ul#rooms
    #userList
      h3 User List:
      ul#users
    #warn
