<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8' />
<title>stateki</title>
<link href='s.css' rel='stylesheet' />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src='s.js'></script>
</head>
<body>
<div id='content'>
	<div id='ustawienia'>
		<form action=''>
			<p>ilosc graczy:<input type='number' id='il_graczy' value='' placeholder='1<X<4'/></p>
			<p>rozmiar planszy:<input type='number' id='rozmiar' value=''  placeholder='5<X<15'/></p>
			<p><input type='submit' value='generuj' /></p>
		</form>
	</div>
	<div id='main'>
		<div id='team1'>
		</div>
		<div id='team2'>
		</div>
	</div>
	<div id='uwaga'></div>
</div>
</body>
</html>
