*{
	margin:0; padding:0
}
body{
}

#content{
	position: absolute;
	margin: auto;
	background:#F5F5F5;
	top:20px;
	left:20px;
	right:20px;
}

#ustawienia{
	position: absolute;
	right:50%;;
}

#main{
	background:#AAE;
	position: absolute;
	left:0;
	width:0;
}

#uwaga{
	position:fixed;
	top:0;
	height:20px;
	background:yellow;
	margin:auto;
}

#1.td{
	height:30px;
	width:30px;
}

td{
	height:20px;
	width:20px;
}

td.empty{
	background:navy;
}


td.statek{
	background:red;
}
